* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-image: url("https://www.lexington.es/app/uploads/2022/09/Medidas-de-una-oficina-estandar-2.jpg");
   
  }
  p{
      text-align: justify;
      font-size: 20px;
      margin: 30px;
  }
  form {
 
    background: #222430;
    padding: 20px;
    
  }
  h1 {
    text-align: left;
    color: #000;
    font-size: 55px;
    
  }
  h2 {
    text-align: left;
    color: #000000;
    font-size: 40px;
    
  }
  input [type="raido"] {
    display: block;
    font-size: 1.2em;
  }

  input{
    
    padding: 5px;
    margin-bottom: 10px;
    border: none;
  }

  input [type="checkbox"]{
    width: 100%;
    display: flex;
    font-size: 1.2em;
  }
  input [type="reset"]{
    width: 100%;
  }

  input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #F44336;
    border: 1px solid #F44336;
    cursor: pointer;
    padding: .6em 1em;
    width: 100%;
    border-radius: 2px; 
  
  }
  input[type="submit"]:hover{
     
      background: transparent;
      transition: 0.5s all ;
  }
  .fondo{
    position: fixed;
    width: 100%;
    height: 100vh;
    display:flex;
  }
  .fondo img{
    width: 100%;
    opacity: 20%;
  }

  @media(min-width:728px){
      form{
          width: 500px;
          margin: auto;
      
    
    }
  }